@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');

.text-font {
    font-family: 'Noto Sans TC', sans-serif;
}

.btn-primary {
    background-image: linear-gradient(#528EAF, #446e9b 50%, #3f658f);
    filter: none;
    border: 1px solid #36587c;
}

.bg-primary {
    background-image: linear-gradient(#528EAF, #446e9b 50%, #3f658f);
    filter: none;
    border: 1px solid #36587c;
}

.img-fluid {
    height: 80px;
}

.navbar.bg-light {
    background-image: linear-gradient(#FFF, #FFF);
    filter: none;
    border: 1px solid #bebebe;
}

.navbar {
    padding: 0;
}

.nav-link {
    color: #000f;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}

.bg-color {
    background-color: #272a33;
}

.footer-menu li {
    margin: 15px 0 15px 0;
}

.bg-light {
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #446e9b;
}

.nav-link:hover, .nav-link:focus {
    color: #446e9b;
}

.nav-a-link {
    text-decoration: none;
    color: #000f;
}

.footer-a-link {
    text-decoration: none;
    color: #FFF;
}

.a-email{
    color:#FFF;
}

