<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Backstage</title>

  @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
 @*   <link rel="stylesheet" href="~/backstage/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/backstage/css/styles.css" asp-append-version="true" />*@


        <!--Approve css-->
        <!-- App favicon -->
        <!-- DataTables -->
        <link href="~/backstage1/static/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">

        <!-- preloader css -->
        <link rel="stylesheet" href="~/backstage1/static/css/preloader.min.css" type="text/css">

        <!-- Bootstrap Css -->
        <link href="~/backstage1/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
        
        <!-- Icons Css -->
        <link href="~/backstage1/static/css/icons.min.css" rel="stylesheet" type="text/css">
        
        <!-- App Css-->
        <link href="~/backstage1/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">

         <!-- JobdetailBackstage css --> 

        <!-- glightbox css -->
         <link rel="stylesheet" href="~/backstage1/static/css/glightbox.min.css" >

   

  

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Backstage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Backstage" asp-action="Form">Form</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Backstage" asp-action="JobdetailBackstage">JobdetailBackstage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Backstage" asp-action="TablesEditable">TablesEditable</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Backstage" asp-action="Approve">Approve</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Backstage - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

   

     <!--Approve js-->
     <!--JAVASCRIPT-- >
    <script src="~/backstage1/static/js/jquery.min.js" ></script>
    <script src="~/backstage1/static/js/bootstrap.bundle.min.js"></script>
    <script src="~/backstage1/static/js/metisMenu.min.js"></script>
    <script src="~/backstage1/static/js/simplebar.min.js"></script>
    <script src="~/backstage1/static/js/waves.min.js"></script>
    <script src="~/backstage1/static/js/feather.min.js"></script>

 @*   <!-- pace js -->
    <script src="~/backstage/static/js/pace.min.js"></script>*@

    <!-- Required datatable js -->
    <script src="~/backstage1/static/js/jquery.dataTables.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/backstage1/static/js/dataTables.responsive.min.js"></script>
    <script src="~/backstage1/static/js/responsive.bootstrap4.min.js"></script>

    <!-- init js show 10 頁   previous next -->
    <script src="~/backstage1/static/js/datatable-pages.init.js"></script>
    <script src="~/backstage1/static/js/dataTables.bootstrap4.min.js"></script>


    <!-- Table Editable plugin -->
    <script src="~/backstage1/static/js/table-edits.min.js"></script>

    <script src="~/backstage1/static/js/table-editable.int.js"></script>

    <script src="~/backstage1/static/js/app.js"></script>

    <!-- JobdetailBackstage js -->

    <!-- glightbox js -->
    <script src="~/backstage1/static/js/glightbox.min.js"></script>

    <!-- lightbox init -->
    <script src="~/backstage1/static/js/lightbox.init.js"></script>
      <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

   

     <!--Approve js-->
     <!--JAVASCRIPT-- >
    <script src="~/backstage1/static/js/jquery.min.js" ></script>
    <script src="~/backstage1/static/js/bootstrap.bundle.min.js"></script>
    <script src="~/backstage1/static/js/metisMenu.min.js"></script>
    <script src="~/backstage1/static/js/simplebar.min.js"></script>
    <script src="~/backstage1/static/js/waves.min.js"></script>
    <script src="~/backstage1/static/js/feather.min.js"></script>

 @*   <!-- pace js -->
    <script src="~/backstage/static/js/pace.min.js"></script>*@

    <!-- Required datatable js -->
    <script src="~/backstage1/static/js/jquery.dataTables.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/backstage1/static/js/dataTables.responsive.min.js"></script>
    <script src="~/backstage1/static/js/responsive.bootstrap4.min.js"></script>

    <!-- init js show 10 頁   previous next -->
    <script src="~/backstage1/static/js/datatable-pages.init.js"></script>
    <script src="~/backstage1/static/js/dataTables.bootstrap4.min.js"></script>


    <!-- Table Editable plugin -->
    <script src="~/backstage1/static/js/table-edits.min.js"></script>

    <script src="~/backstage1/static/js/table-editable.int.js"></script>

    <script src="~/backstage1/static/js/app.js"></script>

    <!-- JobdetailBackstage js -->

    <!-- glightbox js -->
    <script src="~/backstage1/static/js/glightbox.min.js"></script>

    <!-- lightbox init -->
    <script src="~/backstage1/static/js/lightbox.init.js"></script>


   


    
</body>
</html>
