

<div>
    <button id="btnpre" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button id="btnnext" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <div id="worklist" class="worklist d-md-flex flex-md-equal w-100 my-md-3">
   
   
    <div style="display:block; position:relative;" class="py-2">
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%;margin: 0px -5px;">
            <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
            <img src="~/Expert/images/2.webp" class="card-img-top m-auto" style="border-radius:10px; display:block; height:350px;width:320px" alt="...">
            <div style="display:block;">
                <h2 class="text-center m-4">包墜項鍊-1.jpg2023/7/6 上午 02:32:52</h2>
                <h4 class="text-center m-4">2023-07-06T02:32:52.097</h4>
            </div>
        </button>
    </div>
        <div style="display:block; position:relative;" class="py-2">
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%;margin: 0px -5px;">
                <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
                <img src="~/Expert/images/3.webp" class="card-img-top m-auto" style="border-radius:10px; display:block; height:350px;width:320px" alt="...">
                <div style="display:block;">
                    <h2 class="text-center m-4">包墜項鍊-1.jpg2023/7/6 上午 02:32:52</h2>
                    <h4 class="text-center m-4">2023-07-06T02:32:52.097</h4>
                </div>
            </button>
        </div>
        <div style="display:block; position:relative;" class="py-2">
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%;margin: 0px -5px;">
                <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
                <img src="~/Expert/images/4.webp" class="card-img-top m-auto" style="border-radius:10px; display:block; height:350px;width:320px" alt="...">
                <div style="display:block;">
                    <h2 class="text-center m-4">包墜項鍊-1.jpg2023/7/6 上午 02:32:52</h2>
                    <h4 class="text-center m-4">2023-07-06T02:32:52.097</h4>
                </div>
            </button>
        </div>
        <div style="display:block; position:relative;" class="py-2">
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%;margin: 0px -5px;">
                <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
                <img src="~/Expert/images/5.webp" class="card-img-top m-auto" style="border-radius:10px; display:block; height:350px;width:320px" alt="...">
                <div style="display:block;">
                    <h2 class="text-center m-4">包墜項鍊-1.jpg2023/7/6 上午 02:32:52</h2>
                    <h4 class="text-center m-4">2023-07-06T02:32:52.097</h4>
                </div>
            </button>
        </div>
        <div style="display:block; position:relative;" class="py-2">
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%;margin: 0px -5px;">
                <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
                <img src="~/Expert/images/6.webp" class="card-img-top m-auto" style="border-radius:10px; display:block; height:350px;width:320px" alt="...">
                <div style="display:block;">
                    <h2 class="text-center m-4">包墜項鍊-1.jpg2023/7/6 上午 02:32:52</h2>
                    <h4 class="text-center m-4">2023-07-06T02:32:52.097</h4>
                </div>
            </button>
        </div>
        <div style="display:block; position:relative;" class="py-2">
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%;margin: 0px -5px;">
                <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
                <img src="~/Expert/images/7.webp" class="card-img-top m-auto" style="border-radius:10px; display:block; height:350px;width:320px" alt="...">
                <div style="display:block;">
                    <h2 class="text-center m-4">包墜項鍊-1.jpg2023/7/6 上午 02:32:52</h2>
                    <h4 class="text-center m-4">2023-07-06T02:32:52.097</h4>
                </div>
            </button>
        </div>
        <div style="display:block; position:relative;" class="py-2">
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%;margin: 0px -5px;">
                <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
                <img src="~/Expert/images/8.webp" class="card-img-top m-auto" style="border-radius:10px; display:block; height:350px;width:320px" alt="...">
                <div style="display:block;">
                    <h2 class="text-center m-4">包墜項鍊-1.jpg2023/7/6 上午 02:32:52</h2>
                    <h4 class="text-center m-4">2023-07-06T02:32:52.097</h4>
                </div>
            </button>
        </div>
        <div style="display:block; position:relative;" class="py-2">
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%;margin: 0px -5px;">
                <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
                <img src="~/Expert/images/8.webp" class="card-img-top m-auto" style="border-radius:10px; display:block; height:350px;width:320px" alt="...">
                <div style="display:block;">
                    <h2 class="text-center m-4">包墜項鍊-1.jpg2023/7/6 上午 02:32:52</h2>
                    <h4 class="text-center m-4">2023-07-06T02:32:52.097</h4>
                </div>
            </button>
        </div>
        <div style="display:block; position:relative;" class="py-2">
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%;margin: 0px -5px;">
                <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
                <img src="~/Expert/images/8.webp" class="card-img-top m-auto" style="border-radius:10px; display:block; height:350px;width:320px" alt="...">
                <div style="display:block;">
                    <h2 class="text-center m-4">包墜項鍊-1.jpg2023/7/6 上午 02:32:52</h2>
                    <h4 class="text-center m-4">2023-07-06T02:32:52.097</h4>
                </div>
            </button>
        </div>
        <div style="display:block; position:relative;" class="py-2">
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%;margin: 0px -5px;">
                <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
                <img src="~/Expert/images/8.webp" class="card-img-top m-auto" style="border-radius:10px; display:block; height:350px;width:320px" alt="...">
                <div style="display:block;">
                    <h2 class="text-center m-4">包墜項鍊-1.jpg2023/7/6 上午 02:32:52</h2>
                    <h4 class="text-center m-4">2023-07-06T02:32:52.097</h4>
                </div>
            </button>
        </div>
   
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="position:absolute;right:0px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                <p class="text-center">圖片名稱.JPG</p>
            </div>
            <div class="modal-header" style="justify-content:center; ">
                <img src="~/Expert/images/2.webp" class="img-fluid" style="height:550px;">

            </div>

            <div class="modal-footer" style="justify-content:center">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


@section Styles{

    <link type="text/css" rel="stylesheet" href="~/Expert/css/expertstyle.css">
        }
@section Scripts{

<script>

     

</script>
}