

    <div id="worklist" class="worklist d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
     <div style="display:block; position:absolute;" class="py-2 " >
            <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%">

                <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
            <img src="~/Expert/images/3.webp" class="card-img-top px-3 m-auto" style="border-radius:10px; display:block; height:350px" alt="...">
            
            <div style="display:block;">
                    <h2 class="text-center m-4">TITLE</h2>
                
            </div>
            </button>
        </div>
        
   
</div>



@section Styles{

    <link type="text/css" rel="stylesheet" href="~/Expert/css/expertstyle.css">
        }
@section Scripts{

<script>
       


    // fetch.(`@Url.Content("~/ExpertResumesApi/WorkAPI")`)
    // .then(response=>response.json())
    //     .then(data => {
    //         const picturebox = null;




    //     })

</script>
}