@{
    ViewData["Title"] = "ForgetPassword";
}

@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
}
<h1 class="m-3">忘記密碼</h1>


<!-- RenderBody() Placeholder -->
<div class="container">

    <div class="" id="myTabContent">
        @*"登入"要顯示的內容*@
        <div class="m-3" id="home" role="tabpanel" aria-labelledby="signIn-tab">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group m-3">
                        帳號 (註冊時的Email)
                        <div class="col-md-10">
                            @Html.TextBox("txtAccount", "marco@gmail.com", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group m-3">
                        驗證碼
                        <div class="grid grid-flow-col grid-cols-5 gap-4">
                            <div class="col-col-3">
                                @Html.TextBox("txtPassword", "", new { htmlAttributes = new { @class = "form-control" } })
                                <img src="#" alt="驗證碼" draggable="false" class="object-contain mx-auto">
                                <button class="col-col-1 icon-ac-loop text-24 text-gray-500">
                                    <i class="fa-solid fa-repeat"></i>
                                </button>
                            </div>
                            @*<div class="col-col-2 grid grid-flow-col grid-col-3 gap-4 border border-gray-400 rounded">
                        <div class="col-col-2 flex items-center pl-4 h-44">

                        </div>

                        </div>*@
                        </div>
                    </div>
                    @*<div class="col-span-2 grid grid-flow-col grid-cols-3 gap-4 border border-gray-400 rounded h-44">
                <div class="col-span-2 flex items-center pl-4 h-44">
                <img src="https://graphicwb.104.com.tw/vcode/gencode?do=getpic&amp;
                p=13b5252b6b3533e8f3b16c33c12e53a121011108858f1b3b6aaf0787948872912471a0b8cf37a12e41cf02806e55417dc5724dbb1cb27345fe31e3db8272a3099490775f3d57a6be7820846de64f8ff2dfbc1afdd38aca79b4c559aee3ee03a2"
                alt="驗證碼" draggable="false" class="object-contain mx-auto"></div>
                <button class="col-span-1 icon-ac-loop text-24 text-gray-500">
                </button>
                </div>*@
                    <div class="form-group m-3">
                        <div class="col-md-offset-0 col-md-10">
                            <input type="submit" value="登入" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>