@{
    ViewData["Title"] = "ApplicationRecord";
    //Layout = "~/Views/Shared/_LayoutBackstage.cshtml";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Backstage/static/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    @*<link href="~/Backstage/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />*@
    <!-- Icons Css -->
    <link href="~/Backstage/static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Backstage/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <link href="~/Backstage/static/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
</head>


@section Styles{
    <style>
        .table {
            text-align: center;
        }

        .gap-2 {
            justify-content: center;
        }

        .badge {
            background-color: #528EAF;
            display: block;
        }

    </style>
}


<body>
    <!--收藏紀錄 應徵紀錄 任務類型 關鍵字-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="card-body col-4">
                            <!--收藏紀錄 應徵紀錄-->
                            <ul class="nav nav-tabs nav-tabs-custom nav-justified"
                                role="tablist">
                                <li class="nav-item" onclick="showApplied();">
                                    <a class="nav-link active "
                                       data-bs-toggle="tab"
                                       href="#Applied"
                                       role="tab">
                                        <span class="d-block d-sm-none">
                                            <i class="far fa-user"></i>
                                        </span>
                                        <span class="d-none d-sm-block" style="color: #528eaf">應徵紀錄</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!--選擇任務類型-->

                        <div class="col-4 mb-3">
                            <form class="app-search d-none d-lg-block">
                                <select class="form-select">
                                    <option>請選擇任務類型</option>
                                    <option>跑腿</option>
                                    <option>活動支援</option>
                                    <option>其他</option>
                                </select>
                            </form>
                        </div>

                        <!-- App Search-->
                        <!--關鍵字搜尋-->
                        <div class="col-4">
                            <form class="app-search d-none d-lg-block">
                                <div class="position-relative">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="請輸入關鍵字" />
                                    <button class="btn btn-primary"
                                            type="button"
                                            style="background-color: #528eaf">
                                        <i class="bx bx-search-alt align-middle"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row" id="Applied">
                    <div class="col">
                        <div class="table-responsive mb-4">
                            <table class="table align-middle datatable dt-responsive table-check nowrap table table-hover"
                                   style="
                  border-collapse: collapse;
                  border-spacing: 0 8px;
                  width: 100%;
                ">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="form-check font-size-16"
                                                 style="width: auto; text-align: center">
                                                序號
                                                <!-- <input type="checkbox" class="form-check-input" id="checkAll">
                                                                 <label class="form-check-label" for="checkAll"></label>  -->
                                            </div>
                                        </th>

                                        <th scope="col" style="width: auto; text-align: center">
                                            任務名稱
                                        </th>
                                        <th scope="col" style="width: auto; text-align: center">
                                            任務內容
                                        </th>
                                        <th scope="col" style="width: auto; text-align: center">
                                            任務報酬
                                        </th>
                                        <th scope="col" style="width: auto; text-align: center">
                                            需求技能
                                        </th>
                                        <th style="width: auto; text-align: center">詳細資料</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck2">
                                                                <label class="form-check-label" for="contacusercheck2"></label>
                                                            </div>
                                                        </th> -->

                                        <td data-field="id" style="text-align: center">1</td>

                                        <td>
                                            <a href="#" class="text-body">Phyllis Gatlin</a>
                                        </td>
                                        <td>UI/UX Designer</td>
                                        <td>2000</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#" class="badge badge-soft-primary">Photoshop</a>
                                                <a href="#" class="badge badge-soft-primary">illustrator</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                            <!-- <div class="d-flex flex-wrap gap-3 my-3">

                                                               </div> -->
                                        </th>
                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck2">
                                                                <label class="form-check-label" for="contacusercheck2"></label>
                                                            </div>
                                                        </th> -->

                                        <td data-field="id" style="text-align: center">2</td>

                                        <td>
                                            <a href="#" class="text-body">James Nix</a>
                                        </td>
                                        <td>Frontend Developer</td>
                                        <td>500</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Html</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Css</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">2 + more</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                        </th>

                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck3">
                                                                <label class="form-check-label" for="contacusercheck3"></label>
                                                            </div>
                                                        </th> -->

                                        <td data-field="id" style="text-align: center">3</td>

                                        <td>
                                            <a href="#" class="text-body">Darlene Smith</a>
                                        </td>
                                        <td>Backend Developer</td>
                                        <td>7000</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Php</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Java</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Python</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                        </th>
                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck4">
                                                                <label class="form-check-label" for="contacusercheck4"></label>
                                                            </div>
                                                        </th> -->

                                        <td data-field="id" style="text-align: center">4</td>

                                        <td>
                                            <a href="#" class="text-body">William Swift</a>
                                        </td>
                                        <td>Full Stack Developer</td>
                                        <td>500</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Ruby</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Php</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">2 + more</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                        </th>
                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck5">
                                                                <label class="form-check-label" for="contacusercheck5"></label>
                                                            </div>
                                                        </th> -->

                                        <td data-field="id" style="text-align: center">5</td>

                                        <td>
                                            <a href="#" class="text-body">Kevin West</a>
                                        </td>
                                        <td>Frontend Developer</td>
                                        <td>100</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Html</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Css</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">2 + more</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                        </th>
                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck6">
                                                                <label class="form-check-label" for="contacusercheck6"></label>
                                                            </div>
                                                        </th> -->

                                        <td data-field="id" style="text-align: center">6</td>

                                        <td>
                                            <a href="#" class="text-body">Tommy Hayes</a>
                                        </td>
                                        <td>UI/UX Designer</td>
                                        <td>200</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Photoshop</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">illustrator</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                        </th>
                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck7">
                                                                <label class="form-check-label" for="contacusercheck7"></label>
                                                            </div>
                                                        </th> -->

                                        <td data-field="id" style="text-align: center">7</td>

                                        <td>
                                            <a href="#" class="text-body">Diana Owens</a>
                                        </td>
                                        <td>Graphic Designer</td>
                                        <td>700</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Photoshop</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">illustrator</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                        </th>
                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck8">
                                                                <label class="form-check-label" for="contacusercheck8"></label>
                                                            </div>
                                                        </th> -->

                                        <td data-field="id" style="text-align: center">8</td>

                                        <td>
                                            <a href="#" class="text-body">Paul Sanchez</a>
                                        </td>
                                        <td>Angular Developer</td>
                                        <td>600</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Php</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Javascript</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                        </th>
                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck9">
                                                                <label class="form-check-label" for="contacusercheck9"></label>
                                                            </div>
                                                        </th> -->

                                        <td data-field="id" style="text-align: center">9</td>

                                        <td>
                                            <a href="#" class="text-body">Peter Dryer</a>
                                        </td>
                                        <td>Web Designer</td>
                                        <td>300</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Html</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Css</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">2 + more</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                        </th>
                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck10">
                                                                <label class="form-check-label" for="contacusercheck10"></label>
                                                            </div>
                                                        </th> -->
                                        <td data-field="id" style="text-align: center">10</td>

                                        <td>
                                            <a href="#" class="text-body">Gerald Moyer</a>
                                        </td>
                                        <td>Backend Developer</td>
                                        <td>1000</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Php</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Javascript</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                        </th>
                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck11">
                                                                <label class="form-check-label" for="contacusercheck11"></label>
                                                            </div>
                                                        </th> -->

                                        <td data-field="id" style="text-align: center">11</td>

                                        <td>
                                            <a href="#" class="text-body">Gail McGuire</a>
                                        </td>
                                        <td>Backend Developer</td>
                                        <td>800</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Php</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">Javascript</a>
                                                <a href="#"
                                                   class="badge badge-soft-primary font-size-11">2+ more</a>
                                            </div>
                                        </td>
                                        <th>
                                            <div class="btn-group"
                                                 role="group"
                                                 aria-label="Basic example">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    查看
                                                </button>
                                            </div>
                                        </th>
                                        <!-- <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                                </ul>
                                                            </div>
                                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <!-- end table-->
                        </div>
                    </div>
                </div>

                <!--點選tab切換表格-->
                <!-- <script>
                  function showApplied() {
                    //先取得要操作的標籤
                    let Applied = document.querySelector("#Applied");

                    //再對標籤做操作
                    Applied.style.display = "block";
                  }
                </script> -->
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/Backstage/static/js/jquery.min.js"></script>
    <script src="~/Backstage/static/js/bootstrap.bundle.min.js"></script>
    <script src="~/Backstage/static/js/metisMenu.min.js"></script>
    <script src="~/Backstage/static/js/simplebar.min.js"></script>
    <script src="~/Backstage/static/js/waves.min.js"></script>
    <script src="~/Backstage/static/js/feather.min.js"></script>

    <!-- pace js -->
    @*<script src="~/BackStage/static/js/pace.min.js"></script>*@

    <!-- Required datatable js -->
    <script src="~/Backstage/static/js/jquery.dataTables.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/Backstage/static/js/dataTables.responsive.min.js"></script>
    <script src="~/Backstage/static/js/responsive.bootstrap4.min.js"></script>

    <!-- init js -->
    <script src="~/Backstage/static/js/datatable-pages.init.js"></script>
    <script src="~/Backstage/static/js/dataTables.bootstrap4.min.js"></script>

    <!-- Table Editable plugin -->
    <script src="~/Backstage/static/js/table-edits.min.js"></script>
    <script src="~/Backstage/static/js/table-editable.int.js"></script>
    <script src="~/Backstage/static/js/app.js"></script>

    @*Sweet Alert*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
