@{
    ViewData["Title"] = "PowerBI";
    //Layout = "~/Views/Shared/_LayoutBackstage.cshtml";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}
<iframe title="WantWant pbi" width="1280" height="1080" src="https://app.powerbi.com/view?r=eyJrIjoiNzUzMTlhZDMtNDcyMy00MDBjLTk2NjMtMWQwOTgzOWIzMjJhIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
@section subTitle{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">數據庫</li>
            <li class="breadcrumb-item " aria-current="page">報表分析</li>
        </ol>
    </nav>
}