@{
    ViewData["Title"] = "PowerBI";
    //Layout = "~/Views/Shared/_LayoutBackstage.cshtml";
    Layout = "~/Views/Shared/_LayoutForBackstage.cshtml";
}
<head>
    <style>
.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 調整高度，使 iframe 填滿整個可視區域 */
}
    </style>
</head>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
   

    <!-- /.content-header -->
    <!-- Main content -->
    <div class="container mt-3">

            <div class="iframe-container">
                <iframe title="WantWant pbi" style="width:90vw;height:90vh"  src="https://app.powerbi.com/view?r=eyJrIjoiNzUzMTlhZDMtNDcyMy00MDBjLTk2NjMtMWQwOTgzOWIzMjJhIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>

            

               
        
        </div>
</div>

    
@section Styles
{
<style>
        /* 將外層容器設置為相對定位 */
        .header-container {
            position: relative;
        }
</style>
}

@* @section subTitle{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">數據庫</li>
            <li class="breadcrumb-item " aria-current="page">趨勢分析</li>
        </ol>
    </nav>
} *@