@{
    ViewData["Title"] = "Edit";
    // Layout = "~/Views/Shared/_LayoutBackstage.cshtml";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}
<head>
<style>

    .badge-soft-primary {
        background-color: #528EAF;
        color: #fff;
    }

</style>
</head>

<body class="pace-done pace-done"
      data-bs-theme="light"
      data-topbar="light"
      data-sidebar="light">
    <div class="pace pace-inactive">
        <div class="pace-progress"
             data-progress-text="100%"
             data-progress="99"
             style="transform: translate3d(100%, 0px, 0px)">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="pace pace-inactive">
        <div class="pace-progress"
             data-progress-text="100%"
             data-progress="99"
             style="transform: translate3d(100%, 0px, 0px)">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="pace pace-inactive">
        <div class="pace-progress"
             data-progress-text="100%"
             data-progress="99"
             style="transform: translate3d(100%, 0px, 0px)">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="pace pace-inactive">
        <div class="pace-progress"
             data-progress-text="100%"
             data-progress="99"
             style="transform: translate3d(100%, 0px, 0px)">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="pace pace-inactive">
        <div class="pace-progress"
             data-progress-text="100%"
             data-progress="99"
             style="transform: translate3d(100%, 0px, 0px)">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- <body data-layout="horizontal"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->

                    <button type="button"
                            class="btn btn-sm px-3 font-size-16 header-item"
                            id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <!-- App Search-->
                    <form class="app-search d-none d-lg-block">
                        <div class="position-relative"></div>
                    </form>
                </div>

                
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-28">履歷</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-9 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm order-2 order-sm-1">
                                            <div class="d-flex align-items-start mt-3 mt-sm-0">
                                                <div class="flex-shrink-0">
                                                    <div class="avatar-xl me-3">
                                                        <img src="~/Backstage/static/picture/avatar-2.jpg"
                                                             alt=""
                                                             class="img-fluid rounded-circle d-block" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div>
                                                        <h5 class="font-size-16 mb-1">
                                                            姓名：李芷帆
                                                        </h5>

                                                        <div class="d-flex flex-wrap align-items-start gap-2 gap-lg-3 text-muted font-size-13">
                                                            <div>性別：女</div>
                                                        </div>
                                                        <br />
                                                        <div>
                                                            <input type="file"
                                                                   class="form-control"
                                                                   id="inputProfilePicture"
                                                                   style="width: 32rem" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-auto order-1 order-sm-2">
                                            <div class="d-flex align-items-start justify-content-end gap-2">
                                                <div></div>
                                                <div>
                                                    <div class="dropdown">
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li>
                                                                <a class="dropdown-item"
                                                                   href="file:///C:/Users/User/Desktop/%E6%9C%9F%E6%9C%AB%E5%B0%88%E9%A1%8C/20230805/%E5%B1%A5%E6%AD%B7/apps-contacts-profile.html#">Action</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item"
                                                                   href="file:///C:/Users/User/Desktop/%E6%9C%9F%E6%9C%AB%E5%B0%88%E9%A1%8C/20230805/%E5%B1%A5%E6%AD%B7/apps-contacts-profile.html#">Another action</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item"
                                                                   href="file:///C:/Users/User/Desktop/%E6%9C%9F%E6%9C%AB%E5%B0%88%E9%A1%8C/20230805/%E5%B1%A5%E6%AD%B7/apps-contacts-profile.html#">Something else here</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="nav nav-tabs-custom card-header-tabs border-top mt-4"
                                        id="pills-tab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link px-3 active"
                                               data-bs-toggle="tab"
                                               href="file:///C:/Users/User/Desktop/%E6%9C%9F%E6%9C%AB%E5%B0%88%E9%A1%8C/20230805/%E5%B1%A5%E6%AD%B7/apps-contacts-profile.html#overview"
                                               role="tab"
                                               aria-selected="true">履歷總覽</a>
                                        </li>
                                        <li class="nav-item" role="presentation"></li>
                                        <li class="nav-item" role="presentation"></li>
                                    </ul>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->

                            <div class="tab-content">
                                <div class="tab-pane active show"
                                     id="overview"
                                     role="tabpanel">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">個人資料</h5>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                <div class="pb-3">
                                                    <div class="row">
                                                        <div class="col-xl-1">
                                                            <div>
                                                                <h5 class="font-size-15">生日：</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl">
                                                            <div class="text-muted">
                                                                <p class="mb-2"></p>
                                                                <p class="mb-0">1997/01/01</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="py-3">
                                                    <div class="row">
                                                        <div class="col-xl-1">
                                                            <div>
                                                                <h5 class="font-size-15">城市:</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl">
                                                            <div class="text-muted">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <select class="form-select form-select-sm col-sm">
                                                                            <option selected>請選擇</option>
                                                                            <option value="1">台北市</option>
                                                                            <option value="2">新北市</option>
                                                                            <option value="3">高雄市</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="py-3">
                                                    <div class="row">
                                                        <div class="col-xl-1">
                                                            <div>
                                                                <h5 class="font-size-15">區域:</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl">
                                                            <div class="text-muted">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <select class="form-select form-select-sm col-sm">
                                                                            <option selected>請選擇</option>
                                                                            <option value="1">大安區</option>
                                                                            <option value="2">中正區</option>
                                                                            <option value="3">萬華區</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="pb-3">
                                                    <div class="row">
                                                        <div class="col-xl-1">
                                                            <div>
                                                                <h5 class="font-size-15">詳細地址：</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl">
                                                            <div class="text-muted">
                                                                <p class="mb-2"></p>
                                                                <p class="mb-0">復興南路一段390號2樓</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->

                                    <div class="card">
                                        <div class="card-header">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <h5 class="card-title mb-0">求職條件</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                <div class="pb-3">
                                                    <div class="row">
                                                        <div class="col-xl-1">
                                                            <div>
                                                                <h5 class="font-size-15">上班時段：</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl">
                                                            <div class="text-muted">
                                                                <input type="checkbox" id="Checkbox3" />
                                                                <label for="Checkbox3">日班</label>
                                                                <input type="checkbox" id="Checkbox4" />
                                                                <label for="Checkbox4">晚班</label>
                                                                <input type="checkbox" id="Checkbox5" />
                                                                <label for="Checkbox5">大夜班</label>
                                                                <input type="checkbox" id="Checkbox6" />
                                                                <label for="Checkbox6">假日班</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="pb-3">
                                                        <div class="row">
                                                            <div class="col-xl-1">
                                                                <div>
                                                                    <h5 class="font-size-15">可上班日：</h5>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl">
                                                                <div class="text-muted">
                                                                    <input type="checkbox" id="Checkbox7" />
                                                                    <label for="Checkbox7">錄取後</label>
                                                                    <input type="checkbox" id="Checkbox8" />
                                                                    <label for="Checkbox8">自訂日期</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="pb-3">
                                                        <div class="row">
                                                            <div class="col-xl-1">
                                                                <div>
                                                                    <h5 class="font-size-15">遠端工作：</h5>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl">
                                                                <div class="text-muted">
                                                                    <input type="checkbox" id="Checkbox9" />
                                                                    <label for="Checkbox9">遠端工作</label>
                                                                    <input type="checkbox" id="Checkbox10" />
                                                                    <label for="Checkbox10">對遠端工作有意願</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- end col -->
                                                </div>
                                                <!-- end row -->
                                            </div>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->

                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="card">
                                                            <h5 class="card-header">
                                                                <div class="d-flex">
                                                                    <div class="flex-grow-1">
                                                                        <h5 class="card-title mb-0">語言能力</h5>
                                                                    </div>
                                                                </div>
                                                            </h5>
                                                            <div class="card-body">
                                                                <div>
                                                                    <div class="row">
                                                                        <div class="accordion-body">
                                                                            外文種類：
                                                                            <select>
                                                                                <option></option>
                                                                                <option value="1" selected>
                                                                                    英文
                                                                                </option>
                                                                                <option value="2">日文</option>
                                                                                <option value="3">西班牙文</option>
                                                                            </select>
                                                                            聽：
                                                                            <select>
                                                                                <option></option>
                                                                                <option value="1">不會</option>
                                                                                <option value="2">略懂</option>
                                                                                <option value="3" selected>
                                                                                    中等
                                                                                </option>
                                                                                <option value="4">精通</option>
                                                                            </select>
                                                                            說：
                                                                            <select>
                                                                                <option></option>
                                                                                <option value="1">不會</option>
                                                                                <option value="2">略懂</option>
                                                                                <option value="3" selected>
                                                                                    中等
                                                                                </option>
                                                                                <option value="4">精通</option>
                                                                            </select>
                                                                            讀：
                                                                            <select>
                                                                                <option></option>
                                                                                <option value="1">不會</option>
                                                                                <option value="2">略懂</option>
                                                                                <option value="3" selected>
                                                                                    中等
                                                                                </option>
                                                                                <option value="4">精通</option>
                                                                            </select>
                                                                            寫：
                                                                            <select>
                                                                                <option></option>
                                                                                <option value="1">不會</option>
                                                                                <option value="2">略懂</option>
                                                                                <option value="3" selected>
                                                                                    中等
                                                                                </option>
                                                                                <option value="4">精通</option>
                                                                            </select>
                                                                        </div>
                                                                        <!-- end col -->
                                                                    </div>
                                                                    <!-- end row -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="card">
                                                            <h5 class="card-header">
                                                                <div class="d-flex">
                                                                    <div class="flex-grow-1">
                                                                        <h5 class="card-title mb-0">履歷技能</h5>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="row">
                                                                        <!-- <a href="#" class="btn btn-primary">
                                                                                        新增履歷技能 +
                                                                                      </a> -->
                                                                        <!-- end col -->
                                                                    </div>
                                                                    <!-- end row -->
                                                                </div>
                                                            </h5>
                                                            <div class="card-body">
                                                                <div class="d-flex flex-wrap gap-2 font-size-16">
                                                                    <a class="badge badge-soft-primary">Photoshop</a>
                                                                    <a class="badge badge-soft-primary">illustrator</a>
                                                                    <a class="badge badge-soft-primary">HTML</a>
                                                                    <a class="badge badge-soft-primary">CSS</a>
                                                                    <a class="badge badge-soft-primary">Javascript</a>
                                                                    <a class="badge badge-soft-primary">Php</a>
                                                                    <a class="badge badge-soft-primary">Python</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="card">
                                                            <h5 class="card-header">
                                                                <div class="d-flex">
                                                                    <div class="flex-grow-1">
                                                                        <h5 class="card-title mb-0">履歷證照</h5>
                                                                    </div>
                                                                </div>
                                                            </h5>
                                                            <div class="card-body">
                                                                <div>
                                                                    <div class="row">
                                                                        <div class="d-flex flex-wrap gap-2 font-size-16">
                                                                            <a class="badge badge-soft-primary">會計師</a>
                                                                            <a class="badge badge-soft-primary">律師</a>
                                                                        </div>
                                                                        <!-- <a href="#" class="btn btn-primary">
                                                                                        新增履歷證照 +
                                                                                      </a> -->
                                                                        <!-- end col -->
                                                                    </div>
                                                                    <!-- end row -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <h5 class="card-title mb-0">自傳</h5>
                                                </div>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                <div class="row">
                                                    <textarea rows="10"
                                                              class="form-control"
                                                              placeholder="您好！我是李芷帆，畢業於東吳大學資工系，會c、c++、python，閒暇時會獨立接案，將客戶要求做到最好。"></textarea>
                                                    <!-- end col -->
                                                </div>
                                                <!-- end row -->
                                            </div>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end tab pane -->

                                <div class="tab-pane active show" id="about" role="tabpanel">
                                    <!-- end card -->
                                </div>
                                <!-- end tab pane -->

                                <div class="tab-pane active show" id="post" role="tabpanel">
                                    <!-- end card -->
                                </div>
                                <!-- end tab pane -->
                            </div>
                            <!-- end tab content -->
                        </div>
                        <!-- end col -->
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
    

</body>