@model prjCoreWebWantWant.Models.Resume 
@* @model prjCoreWebWantWant.ViewModels.CResumeViewModel *@

@{
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}

<body>
 <div class="row">
    <div class="col-md-4">
        <form asp-action="ResumeEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ResumeId" value="@Model.ResumeId" />

            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>

         @*<div class="form-group">
                <label asp-for="TownId" class="control-label"></label>
                <input asp-for="TownId" class="form-control" />
                <span asp-validation-for="TownId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="Autobiography" class="control-label"></label>
                <input asp-for="Autobiography" class="form-control" />
                <span asp-validation-for="Autobiography" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingHoursId" class="control-label"></label>
                <input asp-for="WorkingHoursId" class="form-control" />
                <span asp-validation-for="WorkingHoursId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnTop" class="control-label"></label>
                <input asp-for="OnTop" class="form-control" />
                <span asp-validation-for="OnTop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskNameId" class="control-label"></label>
                <input asp-for="TaskNameId" class="form-control" />
                <span asp-validation-for="TaskNameId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsExpertOrNot" /> @Html.DisplayNameFor(model => model.IsExpertOrNot)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CaseStatusId" class="control-label"></label>
                <input asp-for="CaseStatusId" class="form-control" />
                <span asp-validation-for="CaseStatusId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
     </div>
</div>
 
<div>
    <a asp-action="ResumeList">Back to List</a>
</div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
