@model IEnumerable<prjCoreWebWantWant.Models.TaskList>
@*@model IEnumerable<prjWantWant_yh_CoreMVC.Models.CTask>     匿名型別*@

@{
    ViewData["Title"] = "ListNew";
    Layout = "~/Views/Shared/_Layout_Task.cshtml";
    // Layout = "~/Views/Shared/_Layout_Task.cshtml";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>


    </style>

</head>


<body>
    <header>
    </header>
    <!--nav bar-->
   @* <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>*@

    <div class="container-fluid">
        <div class="row">
            <!--select任務類型-->
            <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="card">

                    <div class="card-body">
                        <label style="text-align: center; display: block;">任務類型</label>
                        <select class="custom-select" multiple>
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div class="card-body">
                            <label style="text-align: center; display: block;">任務類型</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項一
                                    </label>
                                </div>

                                <div class="form-check">                              
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項二
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項三
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項四
                                    </label>
                                </div>
                        </div>

                        <label style="text-align: center; display: block;">任務類型</label>
                        <select class="custom-select" multiple>
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div class="card-body">
                            <label style="text-align: center; display: block;">任務類型</label>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項一
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項二
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項三
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項四
                                    </label>
                                </div>
                        </div>

                        <div class="card-body">
                            <label style="text-align: center; display: block;">任務類型</label>
                        <label for="customRange2" class="form-label">Example range</label>
                        <input type="range" class="form-range" min="0" max="5" id="customRange2">
                        </div>
                    </div>
                </div>
            </div>

            <!--card工作列表-->
            <div class="col-8">
                <div class="card text-center">
                    <div class="card-header">
                        任務名稱
                    </div>
                    <div class="row">
                        <div class="card-body col-9">
                            <h5 class="card-title">任務內容</h5>    
                        </div>
                        
                        <div class="card-body col-md-3 d-flex flex-column justify-content-end">
                            <a href="#" class="btn btn-outline-primary mb-2">應徵工作</a>
                            <a href="#" class="btn btn-outline-primary">收藏工作</a>
                        </div>

                        <div class="row">                          
                            <p class="card-text col-3">地點</p>   
                            <p class="card-text col-3">需求人數?</p>
                            <p class="card-text col-3">任務金額?</p>       
                            <p class="card-text col-3">收藏任務的愛心放這</p>
                        </div>

                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>

            <!--頁數-->
            <div class="card-body d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>


</body>

@section subTitle{

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">找工作</li>
            <li class="breadcrumb-item">工作列表</li>
            <li class="breadcrumb-item " aria-current="page">任務名稱</li>
        </ol>
    </nav>
}