@using System.Text.Json;
@*@model prjCoreWebWantWant.Models.TaskList*@
@model prjCoreWebWantWant.ViewModels.CCreateTask

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}

@*@section subTitle{
    %發案管理%
}
*@

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
    CLoginUser loggedInUser = JsonSerializer.Deserialize<CLoginUser>(userDataJson); //loggedInUser的資料型態為MemberAccount這個資料表                                                                                   // 现在 loggedInUser 对象包含了从会话中取出的用户信息
    int id = loggedInUser.AccountId; //抓登入者的id
}


<head>
    <style>
        <link href="~/backstage1/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" >
        <link href="~/backstage1/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

        <!-- Template Stylesheet -->
        <link href="~/backstage1/css/style.css" rel="stylesheet" >
        <!-- CSS here -->
        <link rel="stylesheet" href="~/backstage/css/price_rangs.css" >               

    </style>

</head>
         
@*<div class="row">
    <div class="col-md-4">*@
    
  
<body>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*帶入真實accountID，tasklist欄位有*@
        <div class="form-group">
            @* <label asp-for="AccountId" type="hidden" class="control-label"></label>*@
            <input asp-for="AccountId" type="hidden" value="@id" />
            <span asp-validation-for="AccountId" type="hidden" class="text-danger"></span>
        </div>

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                <!--任務內容-->
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                    <h5 class="mb-4" style="color:#528EAF">任務內容</h5>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelTaskName"
                                        aria-label="Floating label select example">
                                    <option>跑腿</option>
                                </select>
                                <label for="floatingSelectTown">請選擇任務類型</label>
                            </div>                
                                <div class="form-group">
                                    <label asp-for="TaskTitle" class="control-label"></label>
                                    <input asp-for="TaskTitle" class="form-control" />
                                    <span asp-validation-for="TaskTitle" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TaskDetail" class="control-label"></label>
                                    <input asp-for="TaskDetail" class="form-control" />
                                    <span asp-validation-for="TaskDetail" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="RequiredNum" class="control-label"></label>
                                    <input asp-for="RequiredNum" class="form-control" />
                                    <span asp-validation-for="RequiredNum" class="text-danger"></span>
                                </div>
                         </div>
                </div>

                 <!--任務時間-->
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h5 class="mb-4" style="color:#528EAF">任務時間</h5>

                    <div class="form-group">
                        <label asp-for="TaskStartDate" class="control-label"></label>
                        <input asp-for="TaskStartDate" class="form-control" type="date" />
                        <span asp-validation-for="TaskStartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TaskEndDate" class="control-label"></label>
                        <input asp-for="TaskEndDate" class="form-control" type="date" />
                        <span asp-validation-for="TaskEndDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TaskStartHour" class="control-label"></label>                      
                        <input asp-for="TaskStartHour" class="form-control" />
                        <span asp-validation-for="TaskStartHour" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TaskEndHour" class="control-label"></label>
                        <input asp-for="TaskEndHour" class="form-control" />
                        <span asp-validation-for="TaskEndHour" class="text-danger"></span>
                    </div>
                </div>
                </div>

                <!--任務地點-->
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                    <h5 class="mb-4" style="color:#528EAF">任務地點</h5>
                   
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioHome"
                                   value="option1">
                            <label class="form-check-label" for="inlineRadioHome">在家兼職</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioOtherPlace"
                                   value="option2">
                            <label class="form-check-label" for="inlineRadioOtherPlace">指定地點</label>
                        </div>
                        <p></p>
                    
                   @* <div class="form-group">
                        <label asp-for="TownId" class="control-label"></label>
                        <input asp-for="TownId" class="form-control" />
                        <span asp-validation-for="TownId" class="text-danger"></span>
                    </div>*@


                    <input type="hidden" id="hiddenTownIdInput" name="selectedTownId" />

                    <div class="form-floating mb-3">
                        <select class="form-select" id="selCity">                            
                            <option></option>
                        </select>
                        <label for="floatingSelectCity">請選擇縣市</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="selTown">                          
                            <option></option>
                        </select>
                        <label for="floatingSelectTown">請選擇區域</label>
                    </div>



                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    </div>
                </div>

                <!--任務報酬-->
                 <div class="col-sm-12 col-xl-6">
                            <div class="bg-light rounded h-100 p-4">
                            <h5 class="mb-4" style="color:#528EAF">任務報酬</h5>
          
                    <div class="form-group">
                        <label asp-for="PayFrom" class="control-label"></label>
                        <input asp-for="PayFrom" class="form-control" />
                        <span asp-validation-for="PayFrom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PayTo" class="control-label"></label>
                        <input asp-for="PayTo" class="form-control" />
                        <span asp-validation-for="PayTo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentId" class="control-label"></label>
                        <input asp-for="PaymentId" class="form-control" />
                        <span asp-validation-for="PaymentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentDateId" class="control-label"></label>
                        <input asp-for="PaymentDateId" class="form-control" />
                        <span asp-validation-for="PaymentDateId" class="text-danger"></span>
                    </div>
                    </div>
                        </div>

                <!--專業需求(選填)-->
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h5 class="mb-4" style="color:#528EAF">專業需求(選填)</h5>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="SelSkillBig">
                                <option></option>
                            </select>
                            <label for="floatingSelectCity">請選擇技能分類</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" id="SelSkillSmall">
                                <option></option>
                            </select>
                            <label for="floatingSelectCity">請選擇技能</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" id="SelCerBig">
                                <option></option>
                            </select>
                            <label for="floatingSelectCity">請選擇證照分類</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" id="SelCerSmall">
                                <option></option>
                            </select>
                            <label for="floatingSelectCity">請選擇證照</label>
                        </div>

                        <div class="form-group">
                            <label asp-for="PublishOrNot" class="control-label"></label>
                            <input asp-for="PublishOrNot" class="form-control" />
                            <span asp-validation-for="PublishOrNot" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <!--任務照片(選填)-->
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h5 class="mb-4" style="color:#528EAF">任務照片(選填)</h5>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Default file input example</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>
                    </div>
                </div>

                <!--送出按鈕-->
                <div class="d-flex justify-content-center">
                      <div class="col-sm-12 col-xl-6">
                           <div class="bg-light rounded h-100 p-4">
                                <div class="d-flex justify-content-center">
                                 <div class="form-group">

                                    <div class="d-flex justify-content-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioPublish"
                                                   value="option1">
                                            <label class="form-check-label" for="inlineRadioPublish">立即上架</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioNoPublish"
                                                   value="option2">
                                            <label class="form-check-label" for="inlineRadioNoPublish">延後上架</label>
                                        </div>
                                    </div>

                                      <input type="submit" value="送出" class="btn btn-primary" />
                                      <a asp-action="Create" class="btn btn-primary">取消新增</a>
                                    </div>
                                 </div>
                          </div>
                      </div>
                </div>
                

                </div>
            </div>
       </form>

    @*不要顯示的欄位
    <div class="form-group">
    <label asp-for="Requirement" class="control-label"></label>
    <input asp-for="Requirement" class="form-control" />
    <span asp-validation-for="Requirement" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="LanguageRequired" class="control-label"></label>
    <input asp-for="LanguageRequired" class="form-control" />
    <span asp-validation-for="LanguageRequired" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="PublishStart" class="control-label"></label>
    <input asp-for="PublishStart" class="form-control" />
    <span asp-validation-for="PublishStart" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="PublishEnd" class="control-label"></label>
    <input asp-for="PublishEnd" class="form-control" />
    <span asp-validation-for="PublishEnd" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="OnTop" class="control-label"></label>
    <input asp-for="OnTop" class="form-control" />
    <span asp-validation-for="OnTop" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="CaseId" class="control-label"></label>
    <input asp-for="CaseId" class="form-control" />
    <span asp-validation-for="CaseId" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="AccountId" class="control-label"></label>
    <input asp-for="AccountId" class="form-control" />
    <span asp-validation-for="AccountId" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="TaskNameId" class="control-label"></label>
    <input asp-for="TaskNameId" class="form-control" />
    <span asp-validation-for="TaskNameId" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="SalaryId" class="control-label"></label>
    <input asp-for="SalaryId" class="form-control" />
    <span asp-validation-for="SalaryId" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="TaskPlace" class="control-label"></label>
    <input asp-for="TaskPlace" class="form-control" />
    <span asp-validation-for="TaskPlace" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="WorkPlace" class="control-label"></label>
    <input asp-for="WorkPlace" class="form-control" />
    <span asp-validation-for="WorkPlace" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="TaskPeriod" class="control-label"></label>
    <input asp-for="TaskPeriod" class="form-control" />
    <span asp-validation-for="TaskPeriod" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="WorkingHoursId" class="control-label"></label>
    <input asp-for="WorkingHoursId" class="form-control" />
    <span asp-validation-for="WorkingHoursId" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="HumanList" class="control-label"></label>
    <input asp-for="HumanList" class="form-control" />
    <span asp-validation-for="HumanList" class="text-danger"></span>
    </div>*@

</body>

@section Scripts {    
   @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");   
        }

       <script>

        //城市和鄉鎮的標籤
        const selCity = document.querySelector('#selCity');
        const selTown = document.querySelector('#selTown');
        const hiddenTownIdInput = document.querySelector('#hiddenTownIdInput');

        //select的城市
        async function loadCity() {
            const response = await fetch('@Url.Content("~/BackstageTask/Cities")')
            const datas = await response.json()
            const cities = datas.map(City => `<option value="${City}">${City}</option>`);
            document.querySelector('#selCity').innerHTML = cities.join("");

            loadDistrict();
        }

        loadCity();

        //select的區域
        async function loadDistrict() {
            const response = await fetch(`@Url.Content("~/BackstageTask/Districts")?City=${selCity.value}`);
            const datas = await response.json()
            const districts = datas.map(Town =>`<option value='${Town}'>${Town}</option>`);
            selTown.innerHTML = districts.join("");
            getTownId();
        }

        
        async function getTownId() {
            const response = await fetch(`@Url.Content("~/BackstageTask/GetTownId")? City = ${ selCity.value } & District=${ selTown.value }`);
            const data = await response.json();
            const selectedTownId = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenTownIdInput.value = selectedTownId;
        }

        //loadDistrict();

        selCity.addEventListener('change', () => {
            loadDistrict();
        });

       selTown.addEventListener('change', () => {
            getTownId();
        });

    </script>
}



