

<div id="worklist" class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 bg-body-tertiary ">
    <div class=" me-md-3 ps-3  text-center overflow-hidden  my-md-3">
        <button type="button" class="bg-body-tertiary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%">

            @*<img src=@Url.Action("WorksImage","ExpertResumes") class="img-fluid" style="height:5%; min-height:5%">*@
        </button>
    </div>
    <div class=" me-md-3 ps-3  text-center overflow-hidden  my-md-3">
        <button type="button" class="bg-body-tertiary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%">
            <img src="~/Expert/images/3.webp" class="img-fluid">
        </button>
    </div>
    <div class=" me-md-3 ps-3  text-center overflow-hidden  my-md-3">
        <button type="button" class="bg-body-tertiary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%">
            <img src="~/Expert/images/4.webp" class="img-fluid">
        </button>
    </div>
    <div class=" me-md-3 ps-3  text-center overflow-hidden  my-md-3">
        <button type="button" class="bg-body-tertiary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%">
            <img src="~/Expert/images/5.webp" class="img-fluid">
        </button>
    </div>
    <div class=" me-md-3 ps-3  text-center overflow-hidden  my-md-3">
        <button type="button" class="bg-body-tertiary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%">
            <img src="~/Expert/images/6.webp" class="img-fluid">
        </button>
    </div>
    <div class=" me-md-3 ps-3  text-center overflow-hidden  my-md-3">
        <button type="button" class="bg-body-tertiary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%">
            <img src="~/Expert/images/7.webp" class="img-fluid">
        </button>
    </div>
    <div class=" me-md-3 ps-3  text-center overflow-hidden  my-md-3">
        <button type="button" class="bg-body-tertiary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%">
            <img src="~/Expert/images/8.webp" class="img-fluid">
        </button>
    </div>
</div>