@model prjCoreWebWantWant.ViewModels.CRatingCreatViewModel

@{
    ViewData["Title"] = "評價";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}
@section subTitle{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">找專家</li>
            <li class="breadcrumb-item">專家成案紀錄管理</li>

            <li class="breadcrumb-item " aria-current="page">新增評分</li>
           
        </ol>
    </nav>
}

<div class="px-4 row">
    <div class="col-md-4">
        <form asp-action="CreateNew" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div><button type="button" id="demo" class="btn btn-outline-primary">DEMO給專家</button></div>

            <div class="form-group">
                <label asp-for="委託者" class="control-label"></label>
                <input readonly asp-for="委託者" class="form-control" />
                <span asp-validation-for="委託者" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="專家" class="control-label"></label>
                <input readonly asp-for="專家" class="form-control" />
                <span asp-validation-for="專家" class="text-danger"></span>
                <input hidden asp-for="taskid" class="form-control" />
            </div>
            
            <div class="form-group">
                <div class="rating-box">
                    <label asp-for="評論星數" class="control-label"></label>
                    <span class="rating-value" id="ratingvalue">你要打幾分?</span>
                    <div class="rating">
                        
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </div>
                </div>
                
                <input hidden asp-for="評論星數" id="starscore" class="form-control" />
                <span asp-validation-for="評論星數" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="評論內容" class="control-label"></label>
                <textarea id="democontent" asp-for="評論內容" class="form-control " style="height:350px;resize:none;width:500px"></textarea>
                <span asp-validation-for="評論內容" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="評論日期" class="control-label"></label>
                <input asp-for="評論日期" class="form-control" />
              <span asp-validation-for="評論日期" class="text-danger"></span>
            </div>
            <input asp-for="評論日期" class="form-control " hidden />
            <div class="row">
            <div class="form-group col-5">
                <input type="submit" value="送出評分" class="btn btn-outline-primary" />

            </div>
                <div class="col-5 ">
                    <a asp-action="ExpertListnew" asp-controller="ExpertTask" class="btn btn-outline-primary">取消</a>
            </div>
            </div>
        </form>
    </div>
</div>
@section Styles {
    <style>
    .rating .fa {
    color: tomato;
    font-size:larger;
     }
    </style>
}
@section Scripts {
    <script>
        const stars = document.querySelector(".rating").children;
        const starscore = document.querySelector("#starscore");
        const ratingvalue = document.querySelector("#ratingvalue");

        let index = -1; // 初始化為-1，表示沒有選擇評分

        for (let i = 0; i < stars.length; i++) {
            stars[i].addEventListener("mouseover", function () {
                for (let j = 0; j < stars.length; j++) {
                    stars[j].classList.remove("fa-star");
                    stars[j].classList.add("fa-star-o");
                }
                for (let j = 0; j <= i; j++) {
                    stars[j].classList.remove("fa-star-o");
                    stars[j].classList.add("fa-star");
                }
                ratingvalue.innerHTML = "正在打分數";
            });

            stars[i].addEventListener("click", function () {
                index = i;
                ratingvalue.innerHTML = "你打的分數是 " + (index + 1);
                starscore.value = index + 1;
            });

            stars[i].addEventListener("mouseout", function () {
                for (let j = 0; j < stars.length; j++) {
                    stars[j].classList.remove("fa-star");
                    stars[j].classList.add("fa-star-o");
                }
                for (let j = 0; j <= index; j++) {
                    stars[j].classList.remove("fa-star-o");
                    stars[j].classList.add("fa-star");
                }
                if (index !== -1) {
                    ratingvalue.innerHTML = "你打的分數是 " + (index + 1);
                } else {
                    ratingvalue.innerHTML = "你要打幾分?";
                }
            });
        };

        document.querySelector("#demo").addEventListener("click", function () {
            console.log("123");
            var democontent = document.querySelector("#democontent");
            democontent.value = "非常感謝小夫的信任和支持！作為委託人，他的反應迅速，付款確認非常及時，這使得整個合作過程更加順利和愉快。強烈推薦和小夫合作，他絕對是一個值得信賴的夥伴！。\n\n" ;

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
