@model prjCoreWebWantWant.ViewModels.CRatingViewModel
@{
    ViewData["Title"] = "RatingList";
}

<div class="container">
    <div class="justify-content-center p-4">
        <h1>歷史評價</h1>

        <ul class="nav ">
            <li class="nav-item">
                <button class="nav-link active" onclick="clickdeploy(totask,tasked)">給別人的評價</button>
            </li>
            <li>|</li>
            <li class="nav-item">
                <button class="nav-link active" onclick="clickdeploy(tasked,totask)" aria-current="page" href="#">我收到的評價</button>
            </li>

        </ul>
        <hr class="p-1" />

    </div>
    @* 給別人的評價 *@
    <div>
        <table id="forratings" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>被評論者</th>
                    <th>評論者</th>
                    <th>評論星數</th>
                    <th>評論內容</th>
                    <th>評論日期</th>
                </tr>
            </thead>

        </table>
    </div>
    @* 自己的評價 *@
    <div>
        <table id="myratings" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>被評論者</th>
                    <th>評論者</th>
                    <th>評論星數</th>
                    <th>評論內容</th>
                    <th>評論日期</th>
                </tr>
            </thead>

        </table>

    </div>

</div>


@section Styles{

    <link type="text/css" rel="stylesheet" href="~/Expert/css/expertstyle.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
        }
@section Scripts{
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script>
        
    //    var datas = [
    //        {
    //           "被評論者": "陳捷恪",
    //"評論者": "自己",
    //"評論星數": "5",
    //"評論內容": "棒!!這位繪師的技術很出色，但有時候她可能過於堅持自己的風格，不夠靈活地適應我的要求。",
    //"評論日期": "2023-07-04T00:00:00"
    //        },
    //        // 可以加入更多資料
    //        {
    //            "被評論者": "陳捷恪",
    //    "評論者": "自己",
    //        "評論星數": "5",
    //            "評論內容": "棒!!這位繪師的技術很出色，但有時候她可能過於堅持自己的風格，不夠靈活地適應我的要求。",
    //                "評論日期": "2023-07-04T00:00:00"
    //        }
    //    ];
        var datas=null;
        fetch('@Url.Content("~/Ratings/Ratingdata")')
            .then(response => response.json())
            .then(data => {
                // 在這裡處理從 API 取得的 JSON 資料
                console.log(data);
                datas = data;
               
                $('#forratings').DataTable({
                    data: datas,
                    columns: [
                        { data: 'ratedperson', title: "被評論者" },
                        { data: 'ratingforperson', title: "評論者" },
                        { data: 'ratingstar', title: "評論星數" },
                        { data: 'ratingcontent', title: "評論內容" },
                        { data: 'ratingdate', title: "評論日期" }
                    ]
                });
            })
            .catch(error => {
                // 處理錯誤情況
                console.error('API request error:', error);
            });


       
        //console.log(data);
           


            //ajax:  'Url.Content("~/Ratings/Ratingdata")',
           
            //columns: [
            //    { data: 'ratedperson', title: "被評論者" },
            //    { data: 'ratingforperson', title: "評論者" },
            //    { data: 'ratingstar', title: "評論星數" },
            //    { data: 'ratingcontent', title: "評論內容" },
            //    { data: 'ratingdate', title: "評論日期" }
            //]
        //});



    </script>
    <script src="~/Expert/js/expert.js"></script>
    <script src="~/Expert/js/bootstrap.bundle.js"></script>
    <script src="~/Expert/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
