@{
    ViewData["Title"] = "聊天清單列表";
    Layout = null; // 使用這個 partial view 時不需要佈局
}
<div class="icon" id="showChatList">
    <i class="bi bi-chat-fill"></i>
</div>

<div class="chat-container" id="chatContainer" style="width:50%;height:60%;display:none;background-color:aliceblue">

        <div class="chat-row" style="height:69vh">

            <div class="col-lg-3  card" style="flex-grow: 100;">
                <div class="chat-list-header pt-3" style="height:100px">
                    <div class="mt-3 h4 text-white">◆Want Chat◆</div>
                    @*                 <span class="input-group my-2 w-75 mx-auto">
                    <input type="text" placeholder="Search 暫定功能" class="form-control" autocomplete="off" name="searchUser" tabindex="101" value="">
                    <button tabindex="102" class="input-group-text" type="submit" value=""><i class="bi bi-search-heart"></i></button>
                    </span> *@
                </div>
                <div id="userList" style="max-height: 67vh; overflow-y: auto;"></div><!--聊天清單從這邊開始加的-->
                <!--100%69 125%67-->
            </div>
            <div class="col-lg-9 card" style="height:80vh;flex-grow: 100;">
                <div class="chat-list-header pt-3 opacity-50" style="min-height:100px"></div>
                <div class="p-3" id="chatDetail" style="height:100vh">請選擇聊天對象以開始對話</div><!--聊天詳細頁面是這邊-->
                <span class="input-group">
                    <input type="text" placeholder="Input some words..." class="form-control" autocomplete="off" name="jsSendMessage" tabindex="101" value="">
                    <button tabindex="102" class="input-group-text" type="submit" id="btnSentMessage"><i class="bi bi-send"></i></button>
                </span>
            </div>
        </div>

    </div>


