
@{
    ViewData["Title"] = "ChatSingle";
}

<h1>單一聊天對象</h1>

<div class="container col-md-9 card justify-content-end align-items-center   my-5">
    <div class="" id="chatDetail" style="width:100%;max-height: 66vh; overflow-y: auto;"></div>

    <span class="input-group">
        <input type="text" placeholder="Input some words..." class="form-control" autocomplete="off" name="sendMessage" tabindex="101" value="">
        <button tabindex="102" class="input-group-text" type="submit" value=""><i class="bi bi-send"></i></button>
    </span>
</div>

@section Scripts{
    <script>

        async function chatDetail() {
            const jsChatWithId = @Html.Raw(Json.Serialize(ViewBag.chatWithId));
            const currentLoginId = @Html.Raw(Json.Serialize(ViewBag.currentLoginId));
            console.log(currentLoginId)
            const response = await fetch(`@Url.Content("~/ChatApi/ChatDetail")?chatWithId=${jsChatWithId}&page=1`);

            const chatDetailData = await response.json();

            const chatDetailDiv = document.querySelector('#chatDetail');
            chatDetailDiv.innerHTML = ''; // 清空原內容
            chatDetailData.map(chat => {
                const chatContainer = document.createElement('div');
                chatContainer.classList.add('chat-container');

                let chatAvatar = document.createElement('img');
                chatAvatar.src = @Html.Raw(Json.Serialize(ViewBag.currentLoginAvatarUrl));//////

                const chatMessage = document.createElement('span');
                chatMessage.textContent = chat.message;
                chatMessage.classList.add('chat-message');

                const messageTimeEle = document.createElement('span');
                const messageTime = new Date(chat.created);
                const options = { year: '2-digit', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: false };
                messageTimeEle.textContent = messageTime.toLocaleString(undefined, options);

                if (chat.receiverId === currentLoginId) {
                    chatMessage.classList.add('message-left', 'chat-bubble', 'go-left');//訊息樣式
                    chatAvatar.classList.add('chat-avatar', 'img-thumbnail','go-left');
                    messageTimeEle.classList.add('message-time', 'small', 'go-left');
                    chatContainer.appendChild(messageTimeEle);//加入對話時間
                    chatContainer.appendChild(chatAvatar);//加入頭像
                    chatContainer.appendChild(chatMessage);//加入對話
                } else {
                    chatAvatar.src = @Html.Raw(Json.Serialize(ViewBag.currentLoginAvatarUrl));
                    chatAvatar.classList.add('chat-avatar', 'img-thumbnail', 'go-right');
                    chatMessage.classList.add('message-right', 'chat-bubble', 'go-right');
                    messageTimeEle.classList.add('message-time', 'small', 'go-right');
                    chatContainer.appendChild(messageTimeEle);//加入對話時間
                    chatContainer.appendChild(chatAvatar);//加入頭像
                    chatContainer.appendChild(chatMessage);//加入對話
                }
                chatDetailDiv.appendChild(chatContainer);

            })//chatDetailData.map(chat
        }//chatDetail()

        chatDetail()
    </script>
}

@section Styles{
    <style>

        ::-webkit-scrollbar { /* 調整捲軸寬度 */
            width: 8px;
        }

        ::-webkit-scrollbar-thumb { /* 調整捲軸拉把部分 */
            background: #ddd;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-track { /* 調整捲軸滑軌部分 */
            background: #f1f1f1;
            border-radius: 10px;
        }

        .custom-list-group {
            padding-right: 0; /* 調整list-group 右側padding的空間 */
        }

        .user-image {
            max-width: 50px; /* 最大寬度 */
            max-height: 50px; /* 最大高度 */
        }

        .chat-bubble {
            border-radius: 5px;
            display: inline-block;
            padding: 10px 18px;
            position: relative;
            margin: 10px;
            min-width: 400px;
        }

        .go-left{
            float:left;
        }

        .go-right {
            float: right;
        }

        .message-left {
            background: #cdcdcd;
            border-radius: .4em;
            width:200px;
        }

            .message-left::after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-right-color: #cdd5d6;
                border-left: 0;
                border-bottom: 0;
                margin-top: -5px;
                margin-left: -10px;
            }

        .message-right {
            background: #9ad2da;
            border-radius: .4em;
                        width:200px;
        }

            .message-right::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 0;
                height: 0;
                float: right;
                border: 10px solid transparent;
                border-left-color: #9ad2da;
                border-right: 0;
                border-bottom: 0;
                margin-top: -5px;
                margin-right: -10px;
            }

        .chat-avatar {
            width: 50px; /* 設定頭像寬度 */
            height: 50px; /* 設定頭像高度 */
            margin-right: 10px; /* 設定頭像和聊天訊息之間的間距 */
            margin-left: 10px; /* 設定頭像和聊天訊息之間的間距 */
            border-radius: 50%; /* 設定頭像為圓形 */
        }

        .chat-container {
            margin-bottom: 20px; /* 設定訊息之間的間距 */
            overflow-y: auto;
        }

        .chat-message {
            max-width: 400px;
            min-width: 250px;
        }

        #chatDetail {
            width: 100%;
            max-height: 300px;
            overflow-y: auto;
        }

    </style>
}